#Background-color {
    background-color: #74992e;
}

#Background-image {
    background-image: url(/asests/background.jpeg);
}

#color {
    color: rgb(214, 122, 127);
}

#text-align {
    text-align: center;
}

#width {
    width: auto;
}

#heigh {
    height: 75%;
}

#border,
td,
tr {
    border: 1rem solid purple;
    width: 70%;

}




#flex-direction {
    flex-direction: column;
}



#justify-content {
    justify-content: center;
}

p {
    color: aliceblue;
}

h2 {
    color: coral;
}

h1 {
    color: blue;
}



#contenido {

    display: flex;
    justify-content: center;
    color:black ;
    border: #74992e;
    
}